<p id="notice"><%= notice %></p>
<h1> Student details</h1>
<h2> Personal information</h2>
<table border=1>
  <tr>
    <th> first name </th>
    <th> last name </th>
    <th> middle name </th>
    <th> mobile </th>
    <th> alternate mobile </th>
    <th> Email </th>
  </tr>

  <tr>
    <td><%= @student.first_name + " " + @student.last_name %>  </td>
    <td><%= @student.middle_name %></td>
    <td><%= @student.mobile %></td>
    <td><%= @student.alternate_mobile %></td>
    <td><%= @student.email %></td>
  </tr>
</table>

<h2> Address information </h2>
<table border=1>
  <tr>
    <th>Address line1</th>
    <th>Address line2</th>
    <th>Location </th>
    <th>zip code</th>
  </tr>
  
  <tr>
    <td><%= @student.address_line1 %></td>
    <td><%= @student.address_line2 %></td>
    <td><%= @student.mcitie.name + " " + @student.smaster.name %></td>
    <td><%= @student.zip_code %></td>
  </tr> 
 </table>

 <h2> Other information </h2>
<table border=1>
  <tr>
    <th> Enrollment date </th>
    <th> Qualifies with </th>
    <th> Sponsor </th>
  </tr>
  <tr>
    <td><%= @student.enrollment_date %></td>
    <td><%= @student.qualifies_with %></td>
    <td><%= @student.sponsor %></td> 
  </tr>
<table>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
