<h1>WELCOME ON STUDENT REGISTARTION</h1>
<%= link_to 'New student', new_student_path %><br />
<%= link_to 'New garde', new_grade_path %><br />
<%= link_to 'New batch', new_batch_path %><br />
<%= link_to 'New smaster', new_smaster_path %><br />
<%= link_to 'New city', new_mcity_path %>


