<p id="notice"><%= notice %></p>

<p>
  <b>name</b>
  <%= @mcities.name %>
</p>
<p>
  <b>state</b>
  <%= @mcities.state_id %>
</p>
<%= link_to 'Edit', edit_mcity_path(@mcities) %> |
<%= link_to 'Back', mcities_path %>
<%= link_to 'Save', new_mcity_path %>

