<%= form_for(@batches) do |f| %>
  <% if @batches.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@batches.errors.count, "error") %> prohibited
        this batch from being saved:</h2>
    <ul>
    <% @batches.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
   <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    	<%= collection_select :batch, :grade_id, Grade.all, :id, :title, { :prompt => true} %>
  </div>
<div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
  </div>

<div class="field">
    <%= f.label :days_of_week %><br />
<%= radio_button_tag 'days_of_week','monday'%> Monday	
<%= radio_button_tag 'days_of_week', 'wednesday' %> Wednesday
<%= radio_button_tag 'days_of_week', 'friday' %> Friday
<%= radio_button_tag 'days_of_week', 'thursday'%> Thursday
<%= radio_button_tag 'days_of_week', 'tuesday' %> Tuesday
<%= radio_button_tag 'days_of_week', 'saturday' %> Saturday

<br />
  </div>
  <div class="field">
    <%= f.label :from_time %><br />
    <%= f.time_select :from_time, :ampm => true %>
    
  </div>
<div class="field">
    <%= f.label :to_time %><br />
	<%= f.time_select :to_time, :ampm => true %>  
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
