<%= form_for(@batches) do |f| %>
  <% if @batches.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@batches.errors.count, "error") %> prohibited
        this batch from being saved:</h2>
    <ul>
    <% @batches.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
   <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    	<%= collection_select :batch, :grade_id, Grade.all, :id, :title, { :prompt => true} %>
  </div>
<div class="field">
    <%= f.label :start_date %><br />
 <%= f.text_field :start_date, :class => "datepicker" , :readonly => true  %>
    </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date, :class => "datepicker" , :readonly => true %>
  </div>
<div class="field">
   <%= f.label :days_of_week %><br />
  <%= f.radio_button(:days_of_week, 'monday,wednesday,friday') %> Monday, Wednesday, Friday	
  <%= f.radio_button(:days_of_week, 'Tuesday, Thursday, Saturday
') %> Tuesday, Thursday, Saturday

<br />
  </div>
  <div class="field">
    <%= f.label :from_time %><br />
 <%= f.text_field :from_time, :class => "timepicker", :readonly => true %>
  </div>
<div class="field">
    <%= f.label :to_time %><br />
	<%= am_pm_hour_select f, :to_time, :ignore_date => true%>
 

</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

