<p id="notice"><%= notice %></p>

<p>
  <b>name</b>
  <%= @smasters.name %>
</p>
<p>
 
<%= link_to 'Edit', edit_smaster_path(@smasters) %> |
<%= link_to 'Back', smasters_path %>
<%= link_to 'Save', new_smaster_path %>

